
nav {
    background-color : darkblue;
    overflow: hidden;
    z-index: 1;
}

nav a {
    float: left;
}

nav a, button.nav-btn {
    padding : 1rem ;
    color: azure;
    text-decoration: none;
}

div.dropdown-items label {
    float: none;
    padding: 1rem;
    color: azure;
    text-decoration: none;
    display: block;
    text-align: left;
}

div.dropdown-items label:hover {
    background-color: lightseagreen;
}

/* Hide checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
span.checkbox {
    position: absolute;
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: lightgrey;
}

input[type="checkbox"]:checked ~ span.checkbox {
    background-color: darkblue;
}

/* hide not checked */
span.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* show check */
input[type="checkbox"]:checked ~ span.checkbox:after {
    display: block;
}

/* check style */
span.checkbox:after {
    left: .5em;
    top: 0em;
    width: .5em;
    height: 1em;
    border: solid white;
    border-width: 0 .15em .15em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label.chk {
    display: inline;
    position: relative;
    padding-top: .2em;
    cursor: pointer;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
span.radio {
    position: absolute;
    margin-left: 1em;
    height: 1.5em;
    width: 1.5em;
    background-color: lightgray;
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
label.chk:hover  input[type="radio"] ~ span.radio {
    background-color: lightseagreen;
}

div.dropdown-items label.chk:hover input[type="radio"] ~ span.radio {
    background-color: darkblue;
}
  
/* When the radio button is checked, add a blue background */
label.chk input:checked ~ span.radio {
    background-color: darkblue;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
span.radio:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
label.chk input:checked ~ span.radio:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
label.chk span.radio:after {
    top: .5em;
    left: .5em;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background: lightseagreen;
}

button a {
    color: azure;
    text-decoration: none;
}

nav a:hover, .nav-btn:hover, .nav-btn-link:hover {
    background-color: lightseagreen ;
}

div.dropdown {
    float: left;
    overflow: hidden;
}

div.dropdown, .nav-btn, .nav-btn-link {
    font-size: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

div.dropdown-items {
    display: none;
    position: absolute;
    background-color: darkcyan;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-items a {
    float: none;
    color: azure;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-items {
    display: block;
}

li.noGlyph{
    list-style-type: none;
}

div.twoCol{
    column-count: 2;
}

label.group{
    font-weight: bold
}