

img.logo {
    width: 3rem;
    height: 3rem;
}

#create, #list{
    padding: 1.5rem;
}

input.url {
    width: .4vw;
    min-width: 20rem;
}

#links td:nth-child(2), td:nth-child(3){
    text-align: center;
}