
section {
    width: 95vw;
    height: 66vh;
    padding: 1rem;
}

.left {
    width: 65vw;
    float: left;
    overflow: hidden;
}

.right {
    width: 30vw;
    overflow: hidden;
}

textarea {
    resize: none;
    width: 60vw;
    height: 66vh;
    scroll-behavior: auto;
}