
#banner {
    background-color: mediumturquoise;
    overflow: auto;
}

#banner > img.logo {
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

#banner > .banner {
    color: darkblue;
}

#content {
    min-height: calc( 100vh - 4.5rem);
}

nav {
    background-color : mediumturquoise;
    overflow: hidden;
    z-index: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

nav a {
    float: left;
}

nav div.dropdown {
    float: left;
    overflow: hidden;
}

nav div.login, .login{
    float: right;
}

nav a, button.nav-btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bolder;
    color: darkblue;
    background-color: mediumturquoise;
    text-decoration: none;
}

nav button.nav-btn {
    border: none;
}

nav a:hover, button.nav-btn:hover, button.nav-btn-link:hover, button.nav-btn-link a:hover {
    background-color: lightseagreen ;
}

div.dropdown-items label {
    float: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: darkblue;
    text-decoration: none;
    background-color: mediumturquoise;
    display: block;
    text-align: left;
}

div.dropdown-items label:hover {
    background-color: lightseagreen;
}

div.dropdown-items {
    display: none;
    position: absolute;
    background-color: darkcyan;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-items a {
    float: none;
    color: darkblue;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-items {
    display: block;
}

footer {
    background-color: mediumturquoise;
    height: 3rem;
    padding-top: .5rem;
    position: relative;
    bottom: 0;
}

footer > p {
    font-size: smaller;
    font-weight: bolder;
    margin-left: 2.5vw;
    margin-top: 0;
    margin-bottom: 0;
}

form.register label{
    display: block;
    margin-left: 2.5rem;
    font-size: larger;
}

form.register input{
    padding: .5rem;
    margin-top: 1rem;
}

#submit {
    margin: .5em;
    margin-left: 2.5rem;
    font-size: medium;
    font-weight: bolder;
    background-color: mediumturquoise;
    color: darkblue;
    border-radius: 10%;
}

#submit:hover {
    background-color: lightseagreen;
}

input:required:invalid {
    border-color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tiptext {
    visibility: hidden;
    width: 10rem;
    background-color: lightseagreen;
    color: darkblue;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -5rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: darkblue transparent transparent transparent;
}

.tooltip:hover .tiptext {
    visibility: visible;
    opacity: 1;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

img.logo {
    width: 3rem;
    height: 3rem;
}

#create, #list{
    padding: 1.5rem;
}

input.url {
    width: .4vw;
    min-width: 20rem;
}

#links td:nth-child(2), td:nth-child(3){
    text-align: center;
}