nav {
  position: fixed;
  width: 97%;
}

div.nav {
  height: 4rem;
}

div.section{
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

label.group{
  display: block;
  position: relative;
  font-size: larger;
}

label.chk {
  display: inline;
  position: relative;
  padding-top: .2em;
  cursor: pointer;
  font-size: medium;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  margin-left: 2em;
  margin-right: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

input[type="number"], input[type="text"], select{
  margin-left: .5em;
  padding: .25em;
}

input[type="button"]{
  margin: .5em;
  padding: .5em;
  font-size: medium;
  background-color: darkblue;
  color: white;
  border-radius: 15%;
}

table {
    display: inline-grid;
    grid-template-areas: 
    "head-fixed" 
    "body-scrollable";
    width: 75vw;
  }
  
  thead {
    grid-area: head-fixed;
  }

  tbody {
    overflow: auto;
    height: 60vh;
    width: 80vw;
  }

  th, td{
      width: 20%;
      align-items: center;
  }

  #func {
    width: 90vw;
  }

  #graphing{
    overflow: auto;
  }

  #graphCanvas {
    border: 2px;
    border-style: solid;
    border-color: black;
    scroll-behavior: auto;
  }