
p {
    font-size: larger;
    margin-left: 1em;
}

label.chk {
    font-size: large;
    line-height: 1.5em;
    margin-left: 2em;
}

#mark {
    margin: .5em;
    padding: .5em;
    font-size: medium;
    background-color: darkblue;
    color: white;
    border-radius: 10%;
  }
#mark:hover {
    background-color: lightseagreen;
}