.keyword {
    font-style: italic;
    font-weight: bolder;
}

pre.example {
    display: block;
    margin-left: 2rem;
}

footer {
    border-top-style: solid;
    border-top-width: .1em;
    border-top-color: black;
    margin-left: 4rem;
}

footer p {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    text-indent: -2rem;
}

footer a {
    text-decoration: none
}

.footNoteTitle {
    font-style: italic
}