
h1, h2, h3 {
    margin-left: 5vw;
}

address {
    margin-left: 7.5vw;
}

p {
    margin-bottom: 0em;
    line-height: 0em;
    margin-left: 5vw;
}

p.institution{
    margin-top: 2rem;
    display: block;
}

li {
    margin-left: 5vw;
}

span.date{
    display: block;
    float: right;
    margin-right: 5vw
}