
h1 {
    font-display: "Verdana", Geneva, sans-serif;
    font-size: calc(1.5em + 1vw);
}

p {
    font-display: "Verdana", Geneva, sans-serif;
    font-size: calc(1em + .5vw);
}

div.slides{
    display: inline;
}

.canvasButton {
    position: absolute;
    top: inherit;
    width: 3em;
    height: 450px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: darkblue;
    font-weight: bold;
}

.canvasButton:hover{
    background-color: lightseagreen;
}

canvas {
    border-color: black;
    border-style: solid;
    border-width: .1em;
    margin-left: 2.5em;
}